@model AddAndUpdateDepartmentDTO



<form asp-action="Create" id="CreateDepartmentForm">
	<div asp-validation-summary="ModelOnly" class="text-danger"></div>
	<div>
		<label asp-for="Name" class="form-label"></label>
		<input asp-for="Name" class="form-control" placeholder="Enter  Name" value="@Model?.Name" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>

	@* <div class="input-field"> *@
	@* 	<label asp-for="Description" class="form-label"></label> *@
	@* 	<textarea asp-for="Description" class="form-control" placeholder="Enter description"></textarea> *@
	@* 	<span asp-validation-for="Description" class="text-danger"></span> *@
	@* </div> *@

	<div class="d-flex justify-content-center text-center mt-2">
		<input type="submit" value="Create Department" class="btn btn-primary mx-2" />
		<a class="btn btn-danger mx-2" asp-action="Index">Back</a>
	</div>
</form>

