@model System.Exception

<div class="alert alert-danger rounded shadow-sm p-3">
    <h5 class="text-danger fw-bold">An error occurred</h5>
    <p>@Model.Message</p>


    @if (Model.InnerException != null)
    {
        <div class="text-muted">
            <small>Details: @Model.InnerException.Message</small>
        </div>
    }
</div>