@model AddandUpdateTaskDTO


<div class="d-flex justify-content-center">
	<h2 class="text-secondary fs-3">Create Task</h2>
</div>

<div id="formContainer">
    @await Html.PartialAsync("_CreateTaskPartial", Model)
</div>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
        $(document).ready(function () {
        $("#CreateTaskForm").on("submit", function (e) {
        e.preventDefault();

        var formData = new FormData(this);

        $.ajax({
            url: '@Url.Action("Create", "Task")',
            type: "POST",
            data: formData,
            processData: false,
            contentType: false,
            success: function (response) {
                    if (response.success) {
                        window.location.href =response.redirectUrl;
                    } else {
                    $("#formContainer").html(response);
                    }
                } ,
                 error: function (xhr) {
                alert("Something went wrong. Please try again.",xhr.responseText);
            }

        });
    });
        });
</script>


